<div class="container"></div>
  <h3 class="text-center">Contact Us</h3>
  
    <%= form_for "/contacts" do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :emai %>
      <%= f.text_field :email %>
      
      <%= f.label :comments %>
      <%= f.text_area :coments %>
      
      <%= f.submit 'Submit' %>
    <% end %>
 </div>

